
#board-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  width: fit-content;
  border: gray 2px solid;
}


.board-block {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  margin: 0;
  padding: 0;
}